<h2 mat-dialog-title>Add Currency</h2>

<mat-dialog-content>
  <form [formGroup]="currency" class="p-2">
    <mat-form-field class="w-full">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Symbol</mat-label>
      <input type="text" matInput formControlName="symbol"
    /></mat-form-field>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button type="submit" mat-raised-button (click)="submit()" [disabled]="currency.invalid">
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
